/* Styles for smaller and middle screen devices */
@media only screen and (max-width: 1425px) {
  .expenseMainContainer {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 2rem !important;
  }

  .pieChartContainer {
    max-width: 200px; /* Set a maximum width if needed */
  }
}
